.viewPost-page {
  width: calc(100% - var(--mar) * 2);
  margin-left: var(--mar);
}
.comments-collect {
  width: 100%;
  margin-top: 1rem;
}
.add-comment {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  border: 0.07rem solid black;
  box-sizing: border-box;
  border-radius: 0.4rem;
}
.add-comment textarea {
  width: calc(100% - 1.9rem);
  border: 0;
  background-color: transparent;
  margin-left: 0.5rem;
  box-sizing: border-box;
  padding-top: 1rem;
  resize: vertical;
  min-height: 3rem;
}
.add-comment textarea:focus {
  outline: none;
}
.add-comment button {
  padding: 0.5rem 0.9rem;
  font-size: 0.8rem;
  color: white;
  background-color: var(--btnColor);
  border: 0;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.back-btn-viewpost {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  border: 0;
}
.back-btn-viewpost img {
  width: 2rem;
  height: 2rem;
}
.post-title {
  font-weight: bold;
  font-size: 1rem;
  resize: none;
  border: 0;
  background-color: transparent;
}
.post-description {
  width: calc(100% - 2rem);
  border: 0;
  background-color: transparent;
  resize: none;
}
.post-description:focus,
.post-title:focus {
  outline: none;
}
/* .add-comment textarea::-webkit-input-placeholder {
  padding-top: 0.5rem;
}

.add-comment textarea::-moz-input-placeholder {
  padding-top: 10px;
}

.add-comment textarea:-moz-input-placeholder {
  padding-top: 10px;
}

.add-comment textarea:-ms-input-placeholder {
  padding-top: 10px;
} */
